* {
  margin: 0;
  padding: 0;
}

.flex-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 238, 254);
  padding: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: larger;
  text-transform: uppercase;
}

.flex-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* ------ some external props ------ */
  height: auto;
  width: 99.7%;
  border: 2px solid red;
}

.item {
  height: 150px;
  width: 200px;
  border: 3px solid rgb(108, 46, 231);
  margin: 10px;
  background-color: red;
  text-align: center;
  justify-self: center;
  color: #fff;
}

.item-1 {
  height: 50px;
  background-color: burlywood;
  flex: 4;
}

.item-2 {
  height: 80px;
  background-color: violet;
  flex: 2;
}

.item-3 {
  height: 120px;
  background-color: darkgrey;
  flex: 1;
}

.item-5 {
  height: 100px;
  background-color: cornflowerblue;
  flex: 2;
}

.item-6 {
  font-size: xx-large;
  flex: 1;
}
