* {
  margin: 0px;
  padding: 0px;
}

/* ------- the grid is all about rows and column --------- */
.grid-container {
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(15, 100px);
}

.grid-items {
  border: 2px solid red;
}
